
    <div id="container-inicio" class="geral">

        <div id="inicio1">

            <div id="container-text">

                <div id="textprincipal2">
                    <p>SEGUE O FLUXO?</p>

                    <p style="font-size: 18px; margin-top: 20px; font-family: 'Courier New', Courier, monospace;">Por todas as ruas, casas, prédios e em cada canto das<br>cidades, agora o fluxo das coisas tem sua nova direção.<br><br>É o momento de seguir o FLUXO!</p>
                </div>

                <a href="cadastro"><button class="button button1" id="button1">Quero seguir o fluxo</button></a>

            </div>

        </div>

        <div id="inicio2">
            
            // FOTO 

        </div>

    </div>

    <div id="container-continuação" class="geral">

        <div id="anuncio-lbff">

            <div id="anuncio">
                <iframe width="840" height="480" src="https://www.youtube.com/embed/z6ddmN4k-Vk" title="SEGUE O FLUXO | NOBRU E CEROL APRESENTAM O NOVO TIME DA LBFF" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen id="videoLBFF"></iframe>
            </div>

            <div id="lbff">
            
            </div>

        </div>

        <div id="externa-legenda">
            <div id="legenda-anuncio">
                <h1 id="titulo-explicação">O QUE É O FLUXO?</h1>
                <p id="text-apresentação" style="font-family: 'Courier New', Courier, monospace;">É uma organização de e-sports criada em janeiro de 2021. O vídeo ao lado é o anúncio publicado em seu canal no Youtube.<br><br>De início foi anunciada apenas com uma line de Free Fire, que em sua primeira participação na Liga Brasileira de Free Fire (LBFF) se consagrou campeã, atualmente a line está passando por reformulações e os jogadores que ainda estão na organização são:<br><br>Syaz, MT7, Ousado e o coach Wanheda.
                <br><br>Hoje está presente em outros cenários competivos, sendo eles: Counter-Strike, Honor of Kings e League of Legends. <br><br> Quer saber mais sobre o Fluxo? É só ir rolando para baixo.</p>
            </div>
        </div>
        
    </div>   
    
    <div id="container-continuação2" class="geral" style="display: inline-block;">

        <div id="continuação2-esquerda">

            <div>

                <h1 style="font-size: 40px;">COUNTER-STRIKE FEMININO</h1>
                <p id="text-apresentação" style="font-family: 'Courier New', Courier, monospace; margin-left: 40px; margin-right: 40px ;font-size: 18px; text-align: justify;">Elas chegaram recentemente, mas já nos representaram e representaram o Brasil em um campeonato mundial. 
                    Terminaram o campeonato entre as 4 melhores equipes do mundo. Para o mais íntimos Demons! <br><br> A line é composta por: Goddess, Julih, Poppins, Nani, Yungher e pelo coach Darkpsy <br><br> Abaixo é o anúncio públicado no canal do Fluxo.</p>

            </div>

            <div id="anuncio-demons" style="background-position: bottom;">
                <iframe width="840" height="480" src="https://www.youtube.com/embed/TiRl_jkGKmw" title="FIRE IN THE HELL! AS DEMONS CHEGARAM NO FLUXO!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>
           
        </div>

        <div id="continuação2-direita">

            <div id="continuação2-img1">

            </div>
        
            <div id="continuação2-img2">

            </div>
            
        </div>

    </div>

    <div id="container-continuação2" class="geral" style="display: inline-block;">

        <div id="continuação2-esquerda">

            <div>

                <h1 style="font-size: 40px;">COUNTER-STRIKE MASCULINO</h1>
                <p id="text-apresentação" style="font-family: 'Courier New', Courier, monospace; margin-left: 40px; margin-right: 40px ;font-size: 18px; text-align: justify;">Fazem parte da família a mais de 1 ano, já conquistaram bastante coisa, mas a mais especial foi terem nos representado no último Major de CSGO. 
                <br><br> A line é composta por: VSM, Lucaozy, PKL, Chay, Zevy e pelo coach Lokomotion. <br><br> Abaixo é o vídeo da classicação para o Major (Campeonato Mundial de CS) públicado no canal do Fluxo.</p>

            </div>

            <div id="anuncio-demons" style="background-position: bottom; margin-left: 30px;">
                <iframe width="840" height="480" src="https://www.youtube.com/embed/okjmAaUyayA" title="NOS CLASSIFICAMOS PARA O MAJOR DE CS:GO!" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>

        <div id="continuação2-direita">

            <div id="continuação3-img1">

            </div>
        
            <div id="continuação3-img2">

            </div>
            
        </div>

    </div>

    <div id="container-continuação" class="geral">

        <div id="anuncio-lbff">

            <div id="anuncio" style="height: 40vh;">
                <h1 id="titulo-hok">HONOR OF KINGS</h1>      
                <p>É um dos jogos mais jogados na China e chegou com tudo no Brasil. Recentemente aconteceu o campeonato brasileiro e ficamos na segunda colocação, com esse resultado conseguimos a classificação para o Wildcard na China (classificatório para o mundial), que infelizmente não nos classificamos para a fase de grupos. Abaixo é o vídeo da final publicado no canal do Fluxo. <br><br> A line é composta por: Sonyy, Raiiku, KoZy, Petroni, Vilao1 e pelo coach Pit. </p> 
            </div>

            <div id="lbff" style="margin-top: 5vh; background: none;">
                <iframe width="840" height="420" src="https://www.youtube.com/embed/uHSUGSUpYxk" title="LUTAMOS ATÉ O FINAL! FLUXO HOK" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
            </div>

        </div>

        <div id="externa-legenda">
            <div id="anuncio" style="height: 40vh;">
                <h1 id="titulo-hok">LEAGUE OF LEGENDS</h1>      
                <p>O Fluxo também está presente no cenário de League of Legends, porém recentemente a line está passando por reformulações, todos os jogadores que estavam na line saíram, por esse motivo não podemos fazer a apresentação deles aqui. </p> 
            </div>

            <div id="rodape">
                <h1>ESSE SITE FOI PRODUZIDO SEM FINS LUCRATIVOS, APENAS PARA FINS EDUCACIONAIS.</h1>
                <h2>IFRN CAMPUS MACAU</h2>
                <h2 style="margin-left: 280px;">TÉCNICO EM INFORMÁTICA</h2>
                <p>Trabalho de Conclusão de Curso © Ryan Ferreira Paulista & Luan Régio Silva de Sousa</p>
            </div>


        </div>
        
    </div>  

