<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="main.css">
    <title>FLUXO</title>
    <link rel="shortcut icon" type="images/webp" href="images/logo.webp">
</head>
<body>
    <header>

        <nav>

            <a class="logo" href="/">FLUXO</a>

            <ul class="nav-list">
                <li><a href="home">Home</a></li>
                <li><a href="cadastro">Cadastro</a></li>
                <li style="border: none"><a href="login">Login</a></li>
            </ul>

        </nav>
    </header>

    <div class="conteudo-principal">
        <%- include(contentFile) %>
    </div>
    

</body>
</html>